
## <summary>policy for whiff</summary>


########################################
## <summary>
##	Transition to whiff.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`whiff_domtrans',`
	gen_require(`
		type whiff_t, whiff_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, whiff_exec_t, whiff_t)
')


########################################
## <summary>
##	Execute whiff server in the whiff domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`whiff_initrc_domtrans',`
	gen_require(`
		type whiff_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, whiff_initrc_exec_t)
')


########################################
## <summary>
##	Search whiff lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`whiff_search_lib',`
	gen_require(`
		type whiff_var_lib_t;
	')

	allow $1 whiff_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read whiff lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`whiff_read_lib_files',`
	gen_require(`
		type whiff_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, whiff_var_lib_t, whiff_var_lib_t)
')

########################################
## <summary>
##	Manage whiff lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`whiff_manage_lib_files',`
	gen_require(`
		type whiff_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, whiff_var_lib_t, whiff_var_lib_t)
')

########################################
## <summary>
##	Manage whiff lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`whiff_manage_lib_dirs',`
	gen_require(`
		type whiff_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, whiff_var_lib_t, whiff_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a whiff environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`whiff_admin',`
	gen_require(`
		type whiff_t;
		type whiff_initrc_exec_t;
		type whiff_var_lib_t;
	')

	allow $1 whiff_t:process { ptrace signal_perms };
	ps_process_pattern($1, whiff_t)

	whiff_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 whiff_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, whiff_var_lib_t)

')

