policy_module(whiff, 1.100.1)

########################################
#
# Declarations
#

type whiff_t;
type whiff_exec_t;
init_daemon_domain(whiff_t, whiff_exec_t)

permissive whiff_t;

type whiff_initrc_exec_t;
init_script_file(whiff_initrc_exec_t)

type whiff_conf_t;
files_type(whiff_conf_t)

type whiff_var_lib_t;
files_type(whiff_var_lib_t)

type whiff_var_run_t;
files_type(whiff_var_run_t)

type whiff_port_t;
corenet_port(whiff_port_t)

########################################
#
# whiff local policy
#
allow whiff_t self:process { fork };

allow whiff_t self:fifo_file rw_fifo_file_perms;
allow whiff_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(whiff_t, whiff_conf_t, whiff_conf_t)
manage_files_pattern(whiff_t, whiff_conf_t, whiff_conf_t)

manage_dirs_pattern(whiff_t, whiff_var_lib_t, whiff_var_lib_t)
manage_files_pattern(whiff_t, whiff_var_lib_t, whiff_var_lib_t)
files_var_lib_filetrans(whiff_t, whiff_var_lib_t, { dir file })

manage_dirs_pattern(whiff_t, whiff_var_run_t, whiff_var_run_t)
manage_files_pattern(whiff_t, whiff_var_run_t, whiff_var_run_t)

sysnet_dns_name_resolve(whiff_t)
corenet_all_recvfrom_unlabeled(whiff_t)

allow whiff_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(whiff_t)
corenet_tcp_sendrecv_generic_node(whiff_t)
corenet_tcp_sendrecv_all_ports(whiff_t)
corenet_tcp_bind_generic_node(whiff_t)

gen_require(`
    type whiff_port_t;
')
allow whiff_t whiff_port_t:tcp_socket name_bind;

gen_require(`
    type whiff_port_t;
')
allow whiff_t whiff_port_t:tcp_socket name_connect;

domain_use_interactive_fds(whiff_t)

files_read_etc_files(whiff_t)

miscfiles_read_localization(whiff_t)

sysnet_dns_name_resolve(whiff_t)

allow whiff_t whiff_exec_t:file execute_no_trans;
allow whiff_t self:process setsched;
corecmd_exec_ls(whiff_t)
corenet_tcp_connect_http_port(whiff_t)
dev_read_urand(whiff_t)
fs_getattr_xattr_fs(whiff_t)
kernel_read_system_state(whiff_t)
